.luz{
	background:#454143;
} 
.luzman{
	background:#4F4F4F;
	background: center;
}
.ely{
	background: #00BFD3;
text-align: center;
}
.luzma{
	background: #00BFD3;
	text-align: center;
}
.josu{
	background: 
	text-align:center;
}